@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-Light.woff2') format('woff2'),
         url('./fonts/Nunito-Regular.woff2') format('woff2'),
         url('./fonts/Nunito-SemiBold.woff2') format('woff2');
    font-weight: 300, 400, 600, 800; 
    font-style: normal;
  }
  
@font-face {
     font-family: 'Corinthia';
     src: url('/src/fonts/Corinthia-Regular.woff2') format('woff2');
     src: url('/src/fonts/Corinthia-Bold.woff2') format('woff2');
     font-weight: 400, 600;
     font-style: normal;
   }

html, body {
    height: 100%;
  }
  
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }